@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --primary-color :#27386d;
    --primary-font: "Outfit", sans-serif;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 15px #ccc;
    

}

.container .logIn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .logIn img{
    width: 180px;
    margin: 15px 0 30px;
}

.logIn h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 40px;

}

.logIn span{
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.logIn form{
    width: 100%;
}

form .form-group{
    width: 100%;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.form-group input{
    width: 90%;

    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: 0;
    background-color: transparent;
    display: block;
}

.form-group input::placeholder{
    font-family: var(--primary-font);
}

.form-group i{
    color: var(--primary-color);

    position: absolute;
    top: 10px;
    right: 10%;
}

.form-group.remember-forgot{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    accent-color: var(--primary-color);
    border-radius: 4px;
}

.remember label {
    font-family: var(--primary-font);
    font-size: 14px;
    color: var(--primary-color);
    user-select: none;
    cursor: pointer;
}

.form-group a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--primary-font);
}

.logIn .logInBtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logInBtn button{
    width: 80%;
    padding: 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--primary-font);
    font-size: 16px;

    border: none;
    border-radius: 20px;
    outline: none;

    transition: all 0.3s ease-in-out;
}

.logInBtn button:hover{
    box-shadow: 0 0 10px #ccc;
    background-color: #364d90;
}

.signUpbtn{
    margin: 20px 0;
    text-align: center;
}

.signUpbtn a{
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--primary-color);

}

.google{
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.google button{
    padding: 10px;
    margin: 0 auto;

    border: 0;
    outline: 0;
    border-radius: 20px;

    background-color: var(--primary-color);
    color: #fff;


    display: block;
}



@media (max-width:576px){
    body{
        background-color: var(--primary-color);
    }
    .container{
        width: 95vw;
        background: rgba(255,255,255,1);
        box-shadow: 0 0 10px #454545;

    }

    .container .logIn img{
        width: 150px;
    }
    
}

            