@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --primary-color :#27386d;
    --primary-font: "Outfit", sans-serif;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

input, select, textarea {
    font-size: 16px !important;
}

.container{
    width: 400px;
    border-radius: 20px;
    box-shadow: 0 0 15px #ccc;

    background-color: #fff;
    

}

.container .reset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .reset img{
    width: 180px;
    margin: 15px 0 30px;
}

.container .reset h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 40px;

}

.reset span{
    color: var(--primary-color);
    font-family: var(--primary-font);
}

.reset form{
    width: 100%;
}

form .form-group{
    width: 100%;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.form-group input{
    width: 90%;

    padding: 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
    outline: 0;
    background-color: transparent;
    display: block;
}

.form-group input::placeholder{
    font-family: var(--primary-font);
}

.form-group i{
    color: var(--primary-color);

    position: absolute;
    top: 10px;
    right: 10%;
}

.form-group a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
    font-family: var(--primary-font);
}

.reset .resetBtn{
    width: 100%;

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetBtn button{
    width: 80%;
    padding: 8px;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--primary-font);
    font-size: 16px;

    border: none;
    border-radius: 20px;
    outline: none;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.resetBtn button:hover{
    box-shadow: 0 0 10px #ccc;
    background-color: #364d90;
}

.register{
    text-align: center;
    margin: 20px;
}

.register a{
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
}



@media (max-width:576px){
    body{
        background-color: var(--primary-color);
    }
    .container{
        width: 95vw;
        background: rgba(255,255,255,1);
        box-shadow: 0 0 10px #454545;

    }

    .container .reset img{
        width: 150px;
    }
    
}

@media screen and (min-width: 768px) {
    input, select, textarea {
        font-size: 14px !important;
    }
}

            